
main{
    background-color: rgb(37, 236, 236);
}
.navbar{
   background-color: rgb(221, 245, 255);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

img{
    width: 10%;

}

h1{
    display: flex;
    justify-content:center ;
}

p{
    text-align: center;
}

.text{
    text-align: center;
}

.button{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-content: center;
}

ul {
    display: grid;
    gap: 10px;
    justify-content: center;
    list-style-type: none;

}

.formulaire{
    background-color: aqua;
    
    display: flex;
    justify-content: center;
}

